.functionBtn {
  color: white;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  width: 400px;
  padding: 30px;
}

#result {
  background-color: #000000;
  color: #ffffff;
  text-align: right;
  font-family: monospace;
}

.row {
  background-color: #d8d9db;
}

.col:last-child {
  background-color: #df974c;
}
.functionBtn:hover {
  background-color: #dfb07e;
}

.functionBtn:active {
  background-color: #dd8d37;
}

.col {
  border: 1px solid black;
}

.btn:hover {
  color: #ebebeb;
}

.btn:active {
  color: #bbbcbe;
}

.btn {
  width: 100%;
  margin: 0;
}
