.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

#clear {
  width: 200px;
}

#zero {
  width: 300px;
}

#result {
  background-color: #000000;
  color: #ffffff;
}

.btn {
  width: 50px;
}
